<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="mvc/Bootstrap.Test.php"
         backupGlobals="false"
         backupStaticAttributes="false"
         verbose="true"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         beStrictAboutTestsThatDoNotTestAnything="false"
>

    <testsuites>
        <testsuite name="Unit tests">
            <directory>modules/</directory>
        </testsuite>
    </testsuites>
</phpunit>
